.App {
  text-align: center;
}


.parent {
  padding: 0.5%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
}

#tableau {
  margin-left: auto;
  margin-right: auto;
}

#one {
  background-color: whitesmoke;
  padding-bottom: 1%;
}


#getVote {
  background-color: antiquewhite;
  padding: 1%;
  width: 125%;
}

#owner {
  background-color: antiquewhite;
  padding: 1%;
  width: 125%;
}

td, tr, th, caption {
  border: 1px solid black !important;
  padding: 0.1%;
}

caption {
  text-align: center !important;
}

.parentTableau {
  padding: 1em;
}